@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins'
}

html,
body {
  background: #000 url('assets/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #777 #555;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #FF5F00;
  border-radius: 5px;
}

html::-webkit-scrollbar-track {
  background-color: #5555;

}

html::-webkit-scrollbar-track:hover {
  background-color: #5555;
 
}


a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  border: 4px solid transparent;
  display: inline-block;
  color: #fff;
  background-color: #FF5F00;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
  box-shadow: 0px 0px 7px 8px #ffac11;
  transition: box-shadow 0.3s ease;
}



header {
  margin-top: 20px;
  height: 200px;
}

header img {
  width: 200px;
}

.midle {
  margin:auto;
  max-width: 200px;
  border: 3px solid green;
  padding: 10px;
  text-align:center;

}

.headersite {
  background-color: #035397;
  height: 50px;
  padding: 1em;
  left: 0;
  text-align: center;
  margin-bottom: 50px;
  
}

.headersite h1{
  text-align: left;
  font-size: 17px;
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

.padding{
  margin-top:20px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #035397;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.pagination{
  max-width:200px;
  margin: auto;
  margin-top :40px;
  background-color: #111111;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.pagination a{
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  transition: .3s linear;
}

.aactive {
  color: #fff;
  background-color: #FF5F00;
}

.pagination a:hover{
  color: #fff;
  background-color: #FF5F00;
}

.bottom_bar{
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #000;
  bottom: 0;
  left: -100px;
  transition: .4s;
}

.banners{
  display: block;
  align-items: center;
  margin-bottom: -50px;
  margin-top:75px;
}

.banners .banner{
  text-align: center;
  font-size:40px
}

.banners .subanner{
  text-align: center;
  font-size:16px
}




.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border:0;
  position: absolute;
  outline: none;
  font-size: 20px;
  color: #ffffff; 
  margin-top: 5px;
}

Search {
  display: block;
}




.search-bar button img{
  width: 20px;
}

.search-bar button{
  border:0;
  border-radius:10px;
  width: 80px;
  height: 55px;
  background: #FF5F00;
  cursor: pointer;
  position: relative;
  margin-left: 580px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.search-bar button:hover{
  background: #035397;
}



.navbar {
  background-color: #035397;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #ffffff;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  flex-grow: 1;
  opacity:100;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-links a {
  color: #fff;
  text-direction: none;
  
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.logo {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #FF5F00;
}

.nav-item .active {
  color: #FF5F00;
  border: 1px solid #FF5F00;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #035397;
    left: 0px;
    top: 50px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #FF5F00;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }


  .nav-icon {
    display: block;
    position: absolute;
    top: -70;
    margin-bottom: 50px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #FF5F00;
  }
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #035397;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

.Message {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 500px;
  background-color: green;
  color: #fff;
  transition: all 0.2s ease;
  border-radius:10px;
  align-items:center;
  
}
  
  .Message--red {
    background-color: #FF5F00;
  }


  .Message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(black, 0.25);
  }
  
  .Message-body {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    padding: 20px;
    
  }

  .Message-button {
    position: relative;
    margin-top:20px;
    background-color: #035397;
    border-radius: 10px;
    box-shadow: 0 3px rgba(black, 0.4);
    border:none;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
  }

  .Message-button:hover{
    background-color: #ffffff;
    color:#000
  }

.u-italic {
  font-style: italic;
}



.badge {
  display: inline-flex;
  background-color: rgba(64, 155, 197, 0.5);
  max-width:100px;
  margin-right:5px;
  height:35px;
  border: 1px solid #00a8ff;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  padding:5px 15px 15px 5px;
}

.badge__text,
.badge__icon {
  align-items: center;
  color: #00a8ff;
  height: 100%;
  
}

.badge__icon {
  font-size: 1.5em;
  text-align:center;
  margin-right:5px;
  margin-bottom:5px;
}

.badge__text {
  margin-top:2px;
}

.additional {
  text-align: center;
  display:inline-flex
}

.ntn
{
 
  width: 500px;
  height: 50px;
  border: none;
  background-color: #00a8ff;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: .3s linear;
  text-decoration: none;
  padding: 15px 85px 15px 85px;
 
}

.ntnhov:hover {
  box-shadow: 0 15px 15px #00a8ff;
}

.modal {
  height:200vh;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 22, 66, 0.7);
  transition: all .4s;

}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  max-width: 90px;
  background: rgb(0, 0, 0);
  max-width: 900px;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
  overflow: hidden;


}

.modal__hero {
  flex: 0 0 45%;
}

.modal__img {
    width: 100%;
    height: 100%;
    display: block;
}

.modal__close {
  background:#FF5F00;
  flex: 0 0 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 10px 82px 10px;
  border-radius: 0px 20px 0px 0px;
}

.modal__watch {
  background:#035397;
  flex: 0 0 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 10px 82px 10px;
  border-radius: 0px 0px 20px 0px;
}

.modal__watch:hover{
  background: #048aff;
}

.modal__close:hover{
  background: #ffa600;
}


.movie__description {
  font-size: 15px;
}

.headermodal {
  display: block;
  margin: 10px;
}

.btnmodal {
  display: block;
}

.btnMore {
  margin-top: 40px;
}

.genreBadge{
  margin: 15px 15px 15px 0px;
}


.movdt {
  display: inline-flex;
  max-width:200px;
  height:35px;
  border-radius: 5px;
  overflow: initial;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
  padding:5px 15px 15px 5px;
}

.mov_prod {
  display: inline-flex;
  max-width:400px;
  height:35px;
  border-radius: 5px;
  overflow: initial;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
  padding:5px 15px 15px 5px;
}

.movdt__text,
.movdt__icon {
  align-items: center;
  color: #00a8ff;
  height: 100%;
  
}

.movdt__icon {
  font-size: 1.2em;
  text-align:center;
  margin-right:5px;
  margin-bottom:5px;
}

.movdt__text {
  margin-top:2px;
  display: inline-flex;;
}

.mov_prod_text{
  margin-left: 10px;
  color: #FF5F00;

}

@media (max-width: 820px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-bar button{
    margin-left: 585px ;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:40px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 12px
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-bar button{
    margin-left: 580px ;
  }
}

@media (max-width: 700px){
  .search-bar button{
    margin-left: 540px ;
  }
}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }

  .search-bar button{
    margin-left: 440px ;
  }
}


@media (max-width: 540px) {

  .search-bar button{
    margin-left: 390px ;
  }

  .modal {
    text-align: center;
    padding: 20px;
  }
 
  .modal__content {
   display: block;
   border-radius: 20px;
  }

  .movie__description {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .modal__img {
    width: 40%;
    height: 40%;

}

 
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .search-bar button{
    margin-left: 340px ;
  }

 
}

@media (max-width: 445px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 40px;
  }
  .search-bar button{
    margin-left: 280px ;
  }
  
  .padding{
    margin-top:100px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:40px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 15px
  }
 
}

@media (max-width: 425px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 40px;
  }
  .search-bar button{
    margin-left: 260px ;
  }
  
  .padding{
    margin-top:100px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:40px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 15px
  }
 
}

@media (max-width: 414px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 40px;
  }
  .search-bar button{
    margin-left: 255px ;
  }
  
  .padding{
    margin-top:100px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:40px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 15px
  }

  .modal {
    text-align: center;
    padding: 20px;
  }
 
  .modal__content {
   display: block;
   border-radius: 20px;
  }

  .movie__description {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .modal__img {
    width: 40%;
    height: 40%;

}
 
}


@media (max-width: 412px) {

  .search-bar button{
    margin-left: 250px ;
  }

  .padding{
    margin-top: 100px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:45px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 16px
  }
 
}

@media (max-width: 400px) {

  .search-bar button{
    margin-left: 240px ;
  }

 
}

@media (max-width: 375px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 40px;
  }
  .search-bar button{
    margin-left: 220px ;
  }
  .padding{
    margin-top:60px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:35px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 12px
  }

  .modal {
    text-align: center;
    padding: 20px;
  }
 
  .modal__content {
   display: block;
   border-radius: 20px;
  }

  .movie__description {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .modal__img {
    width: 40%;
    height: 40%;

}

}

@media (max-width: 360px) {

  .search-bar button{
    margin-left: 200px ;
  }

  .padding{
    margin-top:60px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:35px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 14px
  }

}

@media (max-width: 300px) {

  .search-bar button{
    margin-left: 140px ;
  }

}

@media (max-width: 280px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 30px;
  }
  .search-bar button{
    margin-left: 125px ;
  }

  .padding{
    margin-top:70px;
  }

}

@media (max-width: 200px) {

  .search-bar button{
    margin-left: 40px ;
  }

}

@media (max-width: 150px) {
  .nav-logo{
    font-size: 0rem;
    opacity:0;
  }
  .logo{
    width: 30px;
  }

  .search-bar button{
    margin-left: -6px ;
  }

  .padding{
    margin-top:40px;
  }

  .banners{
    margin-top: 40px;
  }
  
  .banners .banner{
    text-align: center;
    font-size:20px
  }
  
  .banners .subanner{
    text-align: center;
    font-size: 4px
  }

}